/* --- STYLES FOR ALL PAGES --- */
body {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;


  background-image: url("images/grayBackground.jpg");
}

html {

  position: relative;


  min-height: 100%;
}


main {
  margin: 80px 0;
}


.contentSection {
  background-color: #fff;

  padding: 30px;
  margin-bottom: 30px;
}

.contentTitle {

  color: #46bdb7;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

/* NAV START */
#homeName {
  font-family: Georgia, Times, "Times New Roman", serif;


  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 243, 243);


  background: #58cac4;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4fa09c;
}

.navbar {
  background: rgb(247, 247, 247);
  border: none;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navBarArea {
    background-color: orange;
  }
}
/* END NAV */


/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 20px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {

  padding-top: 13px;

  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {

  position: absolute;
  bottom: 0;


  width: 100%;
  height: 55px;


  background-color: rgb(92, 92, 92);
}

.textMultiPhased {

  margin-top: 15px;


  color: rgb(244, 244, 244);
}

.multiPhased {

  height: 6px;
  padding-top: 3px;

  background-color: #42b1ab;
}
/* END FOOTER */


/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 30px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 26px;
  font-weight: bold;
  color: #49b9b4;
}

#mePic {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 180px;
  margin: 0 20px 10px 0;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.listPic {
  margin: 20px auto;
}


h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
  }

h1,
h2,
h3 {
  color: #b51b07;
  font-weight: 550;
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
    line-height: 59px;
    font-size: 35px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
  }

h2,
h3 {
  font-size: 30px;
}

/* this is where the boxes are created for the title of each project  */
.row h3 {
  text-align: center;
  background: #41e9e1;
  width: 94%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  border-bottom: 0;
  position: absolute;
  bottom: 20px;
}





/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.formSettings {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.sendPress {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: rgb(244, 244, 244);

  /* Visual */
  background-color: #44bbb5;
  border: 0;
}

.sendPress:hover {
  opacity: .85;
}

/* END CONTACT FORM PAGE */

